<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660334822645-0e3gd22hn69v2jmqsnivavpb944eb49h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660334822645-0e3gd22hn69v2jmqsnivavpb944eb49h</string>
	<key>API_KEY</key>
	<string>AIzaSyB6c8KpylKcTTl_7693aefTqE7nNjXtpfs</string>
	<key>GCM_SENDER_ID</key>
	<string>660334822645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reservationRailway</string>
	<key>PROJECT_ID</key>
	<string>railways-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>railways-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660334822645:ios:cbf5c787556da970c6f1bc</string>
	<key>DATABASE_URL</key>
	<string>https://railways-flutter-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>